<div class="about" id="about">
  <div class="container">
    <div class="row about-panel">
      <div class="about-gridx">
        About GridX
      </div>
    </div>
    <div class="row">
      <div class="content">
        GridX provides the financial operating system to enable utilities, retail energy suppliers, third party energy services providers and their customers to participate in the decentralized energy economies. GridX technology enables utilities, energy retail suppliers and energy services providers to develop better products, services and business models to achieve policy and business objectives and efficiently operate the decentralized business models. At the same time, GridX technology helps their customers to better understand the financial implications of buying energy products and services, selling their own generation, making a wide variety of energy related investments and otherwise participate in the new energy economies. 
      </div>
    </div>
  </div>
</div>