<div class="leadership-team">
   <div class="container">
      <div class="row leadship-team-panel">
        <div class="leadship-team-title">
          Leadship Team
        </div>
      </div>
      <div class="row" id="pics_list">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3"
             *ngFor='let person of leadships'>
            <div class="person-item">
              <div class="person-icon">
                <img src="{{person.icon}}" alt="{{person.firstName}},{{person.lastName}}">
              </div>
              <div class="person-name">
                {{person.firstName}}, {{person.lastName}}
              </div>
              <div class="person-title">
                <p>{{person.title}}</p>
              </div>
            </div>
        </div>
        
      </div>
    </div>     
</div>