<div class="navbar-fixed-top gx-nav">
  <div class="container">

              <div class="collapse navbar-toggleable-xs">
                <a class="navbar-brand" href="/">
                  <img src="src/app/stylesheets/images/logo.png" alt="GridX">
                </a>
                <ul class="nav navbar-nav pull-xs-right">
                  <li class="nav-item">
                    <a class="nav-link" href="#vision">VISION <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#solutions">SOLUTIONS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#products">PRODUCTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT US</a>
                  </li>
                </ul>
              </div>
              <div (click)="isCollapsed = !isCollapsed" class="navbar navbar-light hidden-sm-up">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
                    &#9776;
                  </button>
              </div>
              <div class="collapse" id="navbar-header" [ngbCollapse]="isCollapsed">
                <div class="container-fluid p-a-1">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 nav-item"><a class="nav-link" href="#vision">VISION <span class="sr-only">(current)</span></a></div>
                      <div class="col-xs-12 col-sm-12 nav-item"><a class="nav-link" href="#solutions">SOLUTIONS</a></div>
                      <div class="col-xs-12 col-sm-12 nav-item"><a class="nav-link" href="#products">PRODUCTS</a></div>
                      <div class="col-xs-12 col-sm-12 nav-item"><a class="nav-link" href="#about">ABOUT US</a></div>
                      <div class="col-xs-12 col-sm-12 nav-item"><a class="nav-link" href="#contact">CONTACT US</a></div>
                    </div>
                  </div>
                </div>
              </div>
  </div>
</div>