<div class="products" id="products">
  <div class="container">
    <div class="row product-panel">
      <div class="our-product">
        Our Products
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="product-item">
            <div class="product-icon">
              <img src="src/app/stylesheets/images/products/product-rate-engine.png" alt="product-rate-engine">
            </div>
            <div class="product-group">
              <p class="product-title">GridX Big Data</p>
              <p class="product-name">Rate Engine</p>
            </div>
            <div class="product-desc">
              The GridX Big Data Rate Engine is a large scale, real-time rating engine designed specifically to cost effectively enhance and upgrade legacy utility billing systems to operationalize new products and tariffs.
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="product-item">
            <div class="product-icon">
              <img src="src/app/stylesheets/images/products/product-settlement-engine.png" alt="product-settlement-engine">
            </div>
            <div class="product-group">
              <p class="product-title">GridX Big Data</p>
              <p class="product-name">Settlement Engine</p>
            </div>
            <div class="product-desc">
              The GridX Big Data Settlement Engine is a multi-party settlement engine designed specifically to operationalize the decentralized business models.
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="product-item">
            <div class="product-icon">
              <img src="src/app/stylesheets/images/products/product-analytics-engine.png" alt="product-analytics-engine">
            </div>
            <div class="product-group">
              <p class="product-title">GridX Big Data Billing</p>
              <p class="product-name">Analytics Engine</p>
            </div>
            <div class="product-desc">
              The GridX Billing Analytics Engine is a billing quality financial analytics engine designed to precisely calculate revenues and costs for utilities, retail energy suppliers, and their customers under actual and “what-if” scenarios.
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="product-item">
            <div class="product-icon">
              <img src="src/app/stylesheets/images/products/product-accounting-and-costing.png" alt="product-accounting-and-costing">
            </div>
            <div class="product-group">
              <p class="product-title">GridX Energy Pricing</p>
              <p class="product-name">Accounting and Costing</p>
            </div>
            <div class="product-desc">
              The GridX Energy Pricing, Accounting, Costing and Settlement (PACS) services are a suite of cloud based services that are used by enterprises and the third party energy service providers to precisely model the financial terms of utility tariffs and energy contracts.
            </div>
          </div>
      </div>
    </div>
  </div>
</div>