<div class="solutions" id="solutions">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="our-vision">Our Solutions</div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="challenge-and-solution">
           <div class="challenge">
             <div class="title">Challenges:</div>
             <div class="content">
               Energy services providers (ESPs), which offer a wide variety energy related services to utility customers, need financial quality analytics to develop products and pricing terms to optimize services for their customers. Traditionally, ESPs have had to develop such capabilities internally through ad hoc tools and processes to model and manage a large number of tariffs and perform financial analyses to support the product and pricing development.
             </div>
           </div>
           <div class="solution">
             <div class="title">Solutions:</div>
             <div class="content">
               GridX offers a suite of cloud based revenue grade tariff models and tariff management capabilities to streamline the tariff modeling and management processes at a fraction of the time and cost related to legacy tools.
             </div>
           </div>
          </div>
      </div>
    </div>
  </div>
</div>