<div class="solutions" id="solutions">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 solutions-panel">
        <div class="our-solution">Our Solutions</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-5">
          <div class="row row-1">
                <div *ngFor='let item of challengesAndSolutions; let i = index' 
                    class="solution-tab {{showTab === i ? 'active' : ''}}"
                    (click)='switchTab(i)'
                    >
                  <div class="title">{{item.title}}</div>
                  <div class="icon"><img src="{{item.icon}}" alt="{{item.title}}"></div>
                </div>
          </div>
      </div>
      <div *ngFor='let item of challengesAndSolutions; let i = index'
           class="col-sm-12 col-md-7 col-lg-7 solution-detail  {{showTab === i ? 'current' : ''}}">
          <div class="challenge-and-solution">
           <div class="challenge">
             <div class="title">Challenges:</div>
             <div class="content">
               {{item.challenge}}
             </div>
           </div>
           <div class="solution">
             <div class="title">Solutions:</div>
             <div class="content">
               {{item.solution}}
             </div>
           </div>
          </div>
      </div>
    </div>
  </div>
</div>