<div class="vision">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="our-vision">Our Vision</div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="vision-main">
            <p>Driven by clean-air mandates, low cost distributed generation and increased competition, and enabled by the new generation of the smart grid, energy and utility markets are undergoing major transformations.<a id="show_more_vision" (click)='toggleMoreVision()'>more&gt;&gt;</a></p>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-4 col-lg-offset-4">
            <div class="more-visions">
              <div class="vision-item">
                <p>The goal of these transformations is decarbonization: using less carbonized energy and incorporating more renewable energy. These transformations fundamentally change the way energy is generated, distributed and consumed from the traditional, one-way centralized model to a new, two-way decentralized model.</p>
              </div>
              <div class="vision-item">
                <p>GridX provides the financial operating system to enable such transformations. GridX’s technology enables utilities, retail energy suppliers, third party energy services providers and their customers to participate in new energy economies.</p>
              </div>
              <div class="vision-item">
                <p class="inner-title">The World We Want:</p>
                <p>It becomes clear that the global warming is one of the biggest threats to the world we live in and the carbon content in our atmosphere is the culprit. At GridX, it is our belief that the key to reducing carbon emission is through energy product, pricing and business model transformations. And the linchpin to such transformations is a financial operating system that aligns the economic interests of all participants in energy production, distribution and consumption value chain to achieve the common goal. We are proud to use our experience, expertise and ingenuity to help reshape our future and create the world we want for our and the future generations. We invite you to join us in such an endeavor (Cross-linked to Contact).</p>
              </div>
            </div>
      </div>
      
    </div>
  </div>
</div>